*.class
*.classpath
*.lock
*.project
*.prefs
*.jar
*.properties
*.lst
*.rar
*.lock
*.settings
*.buildpath
*.metadata
*.recommenders
*.zip
*.exe
log_logado.txt
/src/UniCaffe/UniCaffeCliente/log.log
/src/UniCaffe/UniCaffeCliente/src/main/java/br/edu/unilab/unicaffe/main/MainTest.java
